extends ../../layout/default
block main
    .card
        .card-body
            h5.card-title Tên bài thi
            h6.card-subtitle.mb-2.text-body-secondary Chủ đề
            p.card-text Bắt đầu
            p.card-text Số Câu
            p.card-text Thời gian
            a.btn.btn-primary(href='#') Vào thi
            a.btn.btn-primary(href='#') Bình luận